
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
header{
  text-align: center;
  padding: 20px;
}
header h1{
  text-align: center;
  padding: 30px;
}
header h2{
  text-align: center;
  padding: 0 20px;
}
ul{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  padding: 20px;
}
li{
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 7px;
  text-align: center;
}
li img{
  width: 80%;
  height: 80%px;
  object-fit: cover;
  border-radius: 5px;
}
li:hover{
  background-color: #2229;
  scale: 1.05;
}
li h3{
  padding: 40px;
}
li p{
  padding: 15px;
  padding-bottom: 5px;
}
li button{
  padding: 10px;
  margin: 15px;
  background-color: rgb(40, 94, 212);
  border: 1px solid rgba(1, 39, 95, 0.467);
  border-radius: 3px;
}
li button:hover{
  background-color: rgb(65, 114, 219);
  border: 1px solid rgba(1, 25, 61, 0.467);
}
form{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.categoria{
  display:flex;
  flex-direction: column;
  gap: 1rem;
}
.categoria select{
  padding: .5rem;
  border: 1px solid #ccc;
  background-color: #5559;
  border-radius: .3rem;
}
.price{
  display:flex;
  flex-direction: column;
  gap: 1rem;
}
.price input{
  border: 1px solid #ccc;
  border-radius: 5rem;
  background-color: #5559;
  padding: .5rem
}